<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morij.multiplicationtable">

    <application
        android:allowBackup="true"
        android:icon="@drawable/learning"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PracticeActivity" />
        <activity
            android:name=".MatchActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".HardActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>